.groupCard{
    border-radius: 25px;
    width: 18rem;
    height: 32rem;
    margin: 15px;
    font-family: 'McLaren';
    background-color: #ccc
   
}
.image-container{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
@font-face {
  font-family: 'McLaren';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('McLaren'), local('McLaren-Regular'), url(https://fonts.gstatic.com/s/mclaren/v7/2EbnL-ZuAXFqZFXIeYEV8g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.card{
    background-color: blueviolet;
}
.image-text{
    
    font-size:x-large;
    background-color: black;
    bottom: 10px;
    

}
.image-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height:300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    text-align: center;
    color: white;
}
.listTable{
    color: white;
}
.listRight{
    text-align: right;
}
.wrapper{
    display:flex;
    justify-content: center;
    background-color: #333;
    padding-top: 10px;
}
.searcher{
    padding-left: 10px;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 80%;
    border-width: 3px;
    border-color: black;
    border-radius: 5px;
    background-color: #333;
    color:white;
    outline:white;
    font-size:36px;
}
.error {
    color: white;
    text-align: center;
    margin-left: 30%;
}
