
@font-face {
    font-family: 'McLaren';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('McLaren'), local('McLaren-Regular'), url(https://fonts.gstatic.com/s/mclaren/v7/2EbnL-ZuAXFqZFXIeYEV8g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  .container{
      font-family: McLaren;
      background-color: #ccc;
  }
  body{
      background-color:grey;
      
  }
  .body{
      width: 90%;
      font-family: McLaren;
  }
  .table{
      width:100%;
      
      
  }
  .Char-img{
      width: 100%;
      display: flex;
      position: relative;
      overflow: hidden;
  }
  .titleName{
      position:absolute;
      bottom: 10px;
      left: 200px;
      font-family: McLaren;
      
  }
  button{
     
      font-size: 24px;
      background-color:black;
      color:whitesmoke;
      border-radius: 8px;
     
  }

  .detailInfo{
      text-align: end;
  }