* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #333;
}

a{
  color: #333;
  text-decoration: none;
}
header{
  background-image: url('./RaM-Header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position:relative;
  height: 265px;
  

}
.row{
  background-color: #333;
}